---
import { formatDate } from "@/lib/utils";

import type { Project } from "@/info";
import { type Education, type Experience, info, type Skill } from "@/info";

type SectionType = "Formation" | "Expérience" | "Projets" | "Compétences";

interface Props {
  type: SectionType;
}

const props = Astro.props as Props;

function getElements(type: SectionType) {
  switch (type) {
    case "Formation":
      return info.education;
    case "Expérience":
      return info.experience;
    case "Projets":
      return info.projects;
    case "Compétences":
      return info.skills;
    default:
      throw new Error("Unknown section type");
  }
}

const elements = getElements(props.type);
---

<section>
  <h2 class="font-semibold uppercase border-b-2 text-lg mb-1">{props.type}</h2>

  {
    props.type === "Formation" && (
      <div class="space-y-2">
        {(elements as Education[]).map((item) => (
          <div>
            <div class="flex justify-between items-baseline font-medium">
              <h3 class="text-sm">
                <a href={item.link} target="_blank" class="font-semibold text-base hover:underline">{item.name}</a>, {item.location}
              </h3>
              <p class="capitalize">
                {formatDate(item.startDate)} - {formatDate(item.endDate)}
              </p>
            </div>
            <div class="flex justify-between items-baseline text-sm">
              <p>{item.diploma}; {item.minors.join(", ")}</p>
              <p>{item.result}</p>
            </div>
            {item.coursework && (
              <p class="italic text-xs">
                {item.coursework.join(", ")}
              </p>
            )}
          </div>
        ))}
      </div>
    )
  }
  {
    props.type === "Expérience" && (
      <div class="space-y-2">
        {(elements as Experience[]).map((item) => (
          <div>
            <div class="flex justify-between items-baseline font-medium">
              <h3 class="font-semibold">
                {item.position}, <a href={item.link} target="_blank" class="font-normal text-sm hover:underline">{item.company}</a>
              </h3>
              <p class="capitalize">
                {formatDate(item.startDate)} - {item.endDate ? formatDate(item.endDate) : "Présent"}
              </p>
            </div>
            <ul class="list-disc list-inside">
              {item.tasks.map((task) => (
                <li>
                    {typeof task === "string" ?
                      task
                    : <>
                        {task.name}
                        {task.link && (
                          <>
                            {" "}
                            <a href={task.link} target="_blank" class="hover:underline">({task.link})</a>
                          </>
                        )}
                      </>
                    }
                </li>
              ))}
            </ul>
          </div>
        ))}
      </div>
    )
  }
  {
    props.type === "Projets" && (
      <div class="space-y-2">
        {(elements as Project[]).map((item) => (
          <div>
            <div class="flex justify-between items-baseline font-medium">
              <h3 class="font-semibold">
                <a href={item.link} target="_blank" class="font-normal text-sm hover:underline">{item.title}</a>
              </h3>
              <p class="capitalize">
                {formatDate(item.startDate)} - {item.endDate ? formatDate(item.endDate) : "Présent"}
              </p>
            </div>
            <p class="text-sm">
              {item.description}
            </p>
          </div>
        ))}
      </div>
    )
  }
  {
    props.type === "Compétences" && (
      <div class="-space-y-1">
        {(elements as Skill[]).map((item) => (
          <div class="flex gap-x-1 items-baseline">
            <h3 class="font-semibold">{item.category} :</h3>
            <p class="text-sm">{item.items.join(", ")}</p>
          </div>
        ))}
      </div>
    )
  }
</section>